* {
    margin: 0;
    padding: 0;
}

.container {
display: grid;
grid-template-columns: 1fr 5fr;
height: 100vh;
}

.sidebar {
    background-color: #1892d3;
    display: flex;
    flex-direction: column;
    gap:26px;
    padding: 8px;
}